* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.container {
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: #713cf9;
	background-image: linear-gradient(
		to right top,
		#713cf9,
		#6e3af8,
		#6b39f6,
		#6837f5,
		#6536f4
	);
}

.inner-form,
.welcome {
	width: 300px;
	/* height: 450px; */
	border-radius: 10px;
	padding: 40px 20px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	background-color: white;
	overflow: hidden;
}

h2 {
	color: #333;
	font-size: 1.1em;
}

input:not([type='checkbox']),
button {
	appearance: none;
	background: none;
	outline: none;
	border-radius: 100vmax;
	height: 2.5em;
}

.inner-form input:not([type='checkbox']) {
	border: 1px solid #e0e0e0;
	text-indent: 15px;
	color: #333;
}

input::placeholder {
	color: #a0a0a0;
	font-size: 0.8em;
}

.inner-form button,
.welcome button {
	cursor: pointer;
	background-color: #399dff;
	border: #399dff 1px solid;
	color: white;
	transition: color 0.3s, border 0.3s, background-color 0.3s;
}
.inner-form button:hover,
.welcome button:hover {
	background-color: white;
	color: #399dff;
	border: 1px solid #e0e0e0;
}

.change-status {
	margin-top: 20px;
	text-align: center;
	color: #a0a0a0;
	font-size: 0.7em;
}

.change-status span {
	cursor: pointer;
	margin-left: 5px;
	color: #399dff;
	font-weight: 600;
}

.terms,
.remember-password {
	display: flex;
	color: #333;
	font-size: 0.7em;
}

.terms input {
	margin-right: 10px;
}

.terms span {
	cursor: pointer;
	color: #399dff;
	font-weight: 600;
}

.remember-password label {
	margin-left: 5px;
	font-weight: 700;
}

.remember-password span {
	color: #a0a0a0;
	cursor: pointer;
	margin-left: auto;
}

.line {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.line span {
	color: #a0a0a0;
	font-size: 0.8em;
	margin-inline: 5px;
}

.line hr {
	border: none;
	height: 1px;
	background-color: #e0e0e0;
	flex: 1;
}

.social-icons {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.social-icons img {
	cursor: pointer;
	width: 30px;
}

.error {
	color: #a0a0a0;
	font-size: 0.8em;
}
